<div class="header">
  <div class="header-logo">
    <img class="logo" src="assets/logo.jpg" alt="Home Assistant Client" routerLink="/"/>
  </div>
  <div class="header-title">
    <div class="header-title-text">Home Assistant Client</div>
  </div>
  <div class="header-menu">
    <a [ngClass]="{'active': selectedMenu()  === 'home'}"  routerLink="/" (click)="selectMenu('home')">Home</a>
    <a [ngClass]="{'active': selectedMenu()  === 'chat'}" routerLink="/chat" (click)="selectMenu('chat')">Chat</a>
  </div>
</div>
