<div class="header">
  <div class="header-logo">
    <img class="logo" src="assets/logo.jpg" alt="Home Assistant Client" routerLink="/"/>
  </div>
  <div class="header-title">
    <div class="text-xl text-gray-600">Home Assistant Client</div>
  </div>
  <div class="flex ml-auto space-x-2 pr-4">
    <a class="text-gray-700 text-base hover:text-blue-600" [ngClass]="{'active': selectedMenu()  === 'home'}"  routerLink="/" (click)="selectMenu('home')">Home</a>
    <a class="text-gray-700 text-base hover:text-blue-600" [ngClass]="{'active': selectedMenu()  === 'chat'}" routerLink="/chat" (click)="selectMenu('chat')">Chat</a>
  </div>
</div>
