<!-- <div class="welcome-container"> -->
<!-- <div class="flex flex-col items-center justify-center"> -->
<div class="text-center w-4/5 mx-auto">
  <!-- <h1 class="welcome-title">Welcome to Home Assistant</h1> -->
  <h1 class="text-xl">Welcome to Home Assistant</h1>
  <!-- <p class="welcome-text">Thank you for choosing our Home Assistant App. This app will help you manage and control your smart home devices with ease.</p> -->
  <p class="text-base">Thank you for choosing our Home Assistant App. This app will help you manage and control your smart home devices with ease.</p>
  <p class="welcome-text">Get started by signing in or creating a new account.</p>
  <button class="signin-button shadow" routerLink="/signin">Sign In</button>
  <button class="signup-button" routerLink="/signup">Create Account</button>
</div>
