<div class="text-center w-4/5 mx-auto mt-5 space-y-7">
  <h1 class="text-xl">Welcome to Home Assistant</h1>
  <div>
      <p class="text-base">Thank you for choosing our Home Assistant App. This app will help you manage and control your smart home devices with ease.</p>
      <p class="text-base">Get started by signing in or creating a new account.</p>
  </div>
  <app-round-button routerLink="/signin" class="mx-auto" text="Sign In" color="green" fontColor="white" [disabled]="false"></app-round-button>
  <app-round-button routerLink="/signup" class="mx-auto ml-3" text="Signup" color="blue" fontColor="white" [disabled]="false"></app-round-button>
</div>
