<div class="text-center w-4/5 mx-auto mt-5 space-y-5">
  <h1 class="text-xl">Welcome to Home Assistant</h1>
  <div>
      <p class="text-base">Thank you for choosing our Home Assistant App. This app will help you manage and control your smart home devices with ease.</p>
      <p class="text-base">Get started by signing in or creating a new account.</p>
  </div>
  <button class="px-5 py-2 rounded text-white bg-green-500 shadow hover:scale-105 ease-in-out duration-300" routerLink="/signin">Sign In</button>
  <button class="ml-3 px-5 py-2 rounded text-white bg-blue-500 shadow hover:scale-105 ease-in-out duration-300" routerLink="/signup">Create Account</button>
</div>
