<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="mx-auto mt-5 w-64 flex flex-col items-center">
  <div class="form-group">
    <label for="username">Username:</label>
    <input class="border-black border rounded pl-1 bg-none" type="text" id="username" formControlName="username" required>
    @if (signupForm.get('username')?.invalid && signupForm.get('username')?.touched) {
      <div class="error-message">
        Username is required.
      </div>
    }
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input class="border-black border rounded  pl-1 bg-none"  type="email" id="email" formControlName="email" required>
    <!-- @if(signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
      <div class="error-message">
        @if(signupForm.get('email')?.errors?.required) {
          <div>Email is required.</div>
        }
        @if(signupForm.get('email')?.errors?.email) {
          <div>Invalid email format.</div>
        }
      </div>
    } -->
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input class="border-black border rounded  pl-1 bg-none" type="password" id="password" formControlName="password" required>
    @if(signupForm.get('password')?.invalid && signupForm.get('password')?.touched) {
      <div class="error-message">
        @if(signupForm.get('password')?.errors?.required) {
          <div>Password is required.</div>
        }
      </div>
    }
  </div>
  <app-round-button class="mx-auto" text="Signup" color="blue" fontColor="white" [disabled]="signupForm.invalid"></app-round-button>
</form>
